*::before,
*::after,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
  margin-top: 2rem;
  font-size: 2.5rem;
  text-align: center;
}

.calulator {
  border: 2.5px solid #000;
  height: 50rem;
  width: 50rem;
  margin: 2rem auto;
  padding: 2.5rem;
  border-radius: 2.5rem;
  background-color: #2c3e50;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "screen screen screen add" "seven eight nine multiply" "four five six divide" "one two three subtract" "zero dot clear answer";
}

@media only screen and (max-width: 40em) {
  .calulator {
    height: 45rem;
    width: 40rem;
    padding: 2rem;
    grid-gap: 0.4rem 0.4rem;
  }
}

@media only screen and (max-width: 30em) {
  .calulator {
    height: 40rem;
    width: 32rem;
    padding: 1.8rem;
    grid-gap: 0.3rem 0.3rem;
  }
}

.btn {
  color: #000;
  border-radius: 2.5rem;
  cursor: pointer;
  font-size: 2rem;
  /* NEEDED IN ORDER TO PREVENT BUTTONS FROM EXPANDING IF NUMBER IS TOO LARGE */
  min-width: 10.75rem;
  outline: none;
}

.btn:active {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  -webkit-box-shadow: 0 0.2rem 0.2rem #333;
          box-shadow: 0 0.2rem 0.2rem #333;
}

@media only screen and (max-width: 40em) {
  .btn {
    font-size: 1.8rem;
    min-width: 8.5rem;
  }
}

@media only screen and (max-width: 30em) {
  .btn {
    font-size: 1.6rem;
    min-width: 6.5rem;
  }
}

.screen {
  max-width: 33rem;
  overflow: hidden;
  background-color: gray;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: screen;
  border-radius: 1rem;
  border: 2.5px solid #000;
  font-size: 3rem;
  padding-top: 2.5rem;
  padding-right: 2rem;
  text-align: right;
}

@media only screen and (max-width: 40em) {
  .screen {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 30em) {
  .screen {
    padding-top: 1.5rem;
  }
}

.operator {
  background-color: #e67e22;
  border: 2.5px solid #000;
}

.operator:hover, .operator:active {
  color: #333;
  background: #f39c12;
}

.num {
  border: 2.5px solid #000;
  background-color: #e1eef6;
}

.num:hover, .num:active {
  color: black;
  background-color: #7f9eb2;
}

.clear {
  border: 2.5px solid #000;
  background-color: #e1eef6;
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: clear;
}

.clear:hover, .clear:active {
  color: #000;
  background-color: #7f9eb2;
}

.add {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: add;
}

.subtract {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: subtract;
}

.divide {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: divide;
}

.multiply {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: multiply;
}

.answer {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: answer;
}

.zero {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: zero;
}

.one {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: one;
}

.two {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: two;
}

.three {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: three;
}

.four {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: four;
}

.five {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: five;
}

.six {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: six;
}

.seven {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: seven;
}

.eight {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: eight;
}

.nine {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: nine;
}

.dot {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: dot;
}

.toggleNumber-js {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  -webkit-box-shadow: 0 0.2rem 0.2rem #333;
          box-shadow: 0 0.2rem 0.2rem #333;
  background-color: #7f9eb2;
}

.toggleOperator-js {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  -webkit-box-shadow: 0 0.2rem 0.2rem #333;
          box-shadow: 0 0.2rem 0.2rem #333;
  color: #333;
  background-color: #f39c12;
}
/*# sourceMappingURL=style.css.map */