*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eee;
}

.num {
  border: 2.5px solid black;
  /* width: auto; */
}

#clear {
  border: 2.5px solid black;
  /* width: auto; */
  grid-area: clear;
}

#answer {
  /* width: auto; */
  grid-area: answer;
}

#screen {
  /* width: 90.5vw;
    height: 10vh; */
  max-width: 33rem;
  /* ONLY NEEDED IF NOTHING IS DISPLAYED ON SCREEN: */
  /* min-height: 5rem; */
  overflow: hidden;
  background-color: gray;
  grid-area: screen;
  border-radius: 10px;
  border: 2.5px solid black;
  font-size: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
}

.calulator {
  border: black solid 2.5px;
  height: 50rem;
  width: 50rem;
  margin: 2rem auto;
  padding: 2.5rem;
  border-radius: 2.5rem;
  background-color: #2c3e50;
  display: grid;
  grid-gap: 5px 5px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "screen screen screen add"
    "seven eight nine multiply"
    "four five six divide"
    "one two three subtract"
    "zero dot clear answer";
}

.zero {
  grid-area: zero;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.dot {
  grid-area: dot;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
}

#clear:hover,
#clear:active,
.num:hover,
.num:active {
  color: #fff;
  background: #333;
}

.operator:hover,
.operator:active {
  color: #333;
  background: #f39c12;
}

.btn {
  color: #000;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  /* NEEDED IN ORDER TO PREVENT BUTTONS FROM EXPANDING IF NUMBER IS TOO LARGE */
  min-width: 10.75rem;
  outline: none;
}
.btn:active {
  transform: translateY(0.2rem);
  box-shadow: 0 0.2rem 0.2rem #333;
}

.operator {
  background-color: #e67e22;
  border: 2.5px solid black;
}

.title {
  margin-top: 2rem;
  text-align: center;
}

@media only screen and (max-width: 40em) {
  .calulator {
    height: 45rem;
    width: 40rem;
    padding: 2rem;
    grid-gap: 0.4rem 0.4rem;
  }

  .btn {
    font-size: 1.4rem;
    min-width: 8.5rem;
  }
}

@media only screen and (max-width: 30em) {
  .calulator {
    height: 40rem;
    width: 32rem;
    padding: 1.8rem;
    grid-gap: 0.3rem 0.3rem;
  }

  .btn {
    font-size: 1.2rem;
    min-width: 6.5rem;
  }
}
